[Unit]
Description=Client for Remote MQTT Command
After=network-online.target

[Service]
ExecStart=/home/pi/rmc/rmc.py
Type=simple
RestartSec=10
Restart=on-failure
User=pi
Group=pi

[Install]
WantedBy=network-online.target
Alias=rmc.service
